.content {
	display: flex;
	justify-content: end;
	column-gap: 30px;
}

.content__details {
	display: flex;
	flex-direction: column;
	row-gap: 26px;
}

.content__accent {
	color: #545050;
}

.content__list {
	max-height: 323px;
	padding-right: 10px;
	overflow-y: scroll;
}

.content__list-item:not(:last-child) {
	margin-bottom: 32px;
}

.content__card-link {
	display: block;
	color: white;
	text-decoration: none;
}

.content__card-link:focus {
	outline: none;
}

.content__card-link:focus-visible {
	outline: 1px solid #fff;
	outline-offset: -1px;
}

.content__card-link:active {
	background-color: #545050;
}

.content__card-link:hover {
	text-decoration: underline;
}

.content__card-link_current {
	background-color: #545050;
}

.content__video-card {
	display: flex;
	justify-content: space-between;
	align-items: start;
	column-gap: 6px;
}

.content__video-card-description-container {
	display: flex;
	flex-direction: column;
	row-gap: 6px;
	width: 200px;
}

.content__video-card-title {
	overflow: hidden;
	font-family: Oswald, Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 30px;
	text-transform: uppercase;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.content__video-card-description {
	font-weight: 400;
	line-height: 16.2px;
}

.content__video-card-thumbnail {
	max-width: 194px;
	max-height: 103px;
}
