.result {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
}

.result__video-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 711px;
	height: 386px;
	margin-top: 78px;
	overflow: hidden;
	text-align: center;
}

.result__video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
