.search-form {
	display: grid;
	justify-content: space-between;
	grid-template: 1fr / 31.6% 30% 27.4%;
}

.search-form__fieldset {
	border: none;
}

.search-form__fieldset-title {
	margin-bottom: 5px;
	font-weight: 400;
	font-size: 18px;
}

.search-form__label-text,
.search-form__label {
	cursor: pointer;
}

.search-form__label {
	display: flex;
	align-items: center;
}

.search-form__label:has(:focus-visible) {
	outline: 1px solid #fff;
	outline-offset: 2px;
}

.search-form__label:hover .search-form__label-text {
	text-decoration: underline;
}

.search-form__textfield {
	box-sizing: content-box;
	width: 100%;
	border: none;
	border-top: 1px solid currentColor;
	border-right: 1px solid transparent;
	border-bottom: 1px solid currentColor;
	border-left: 1px solid transparent;
	padding: 2.5px 0;
	color: currentColor;
	font-family: inherit;
	font-size: inherit;
	background-color: transparent;
	cursor: text;
	appearance: none;
}

.search-form__textfield:active {
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	outline: none;
}

.search-form__textfield:focus {
	outline: none;
}

.search-form__checkbox-list {
	display: flex;
	align-items: center;
	column-gap: 16px;
}

.search-form__pseudo-checkbox {
	position: relative;
	display: block;
	width: 19px;
	height: 19px;
	margin-right: 5px;
	border: 1px solid #fff;
}

input[type='checkbox']:checked + span,
.search-form__label:active .search-form__pseudo-checkbox {
	outline: 2px solid #1b1919;
	outline-offset: -3px;
	background-color: #fff;
}

.search-form__submit-button {
	align-self: flex-end;
}
